<section class="about {% if include.extra_class %} {{include.extra_class}} {% endif %} bg-white">
  <div class="container">
    <div class="row">
      <div itemprop="accountablePerson" itemscope itemtype="{{site.url}}{{page.url}}"  >
        <p itemprop="description" class="wow animated fadeIn" data-wow-delay="0.6s" style="margin-top: 60px; font-size: large;">
          Пользуясь случаем, хотим поделиться с Вами двумя интересными благотворительными проектами в которых, непосредственно мы сами, принимаем участие.
        </p>

        <p itemprop="description" class="wow animated fadeIn" style="margin-top: 40px; margin-left: 10px; font-size: large;" data-wow-delay="1.0s">
          <a href="https://otkazniki.ru/events/permanent/kryshechki/" style="font-size: x-large;">«Добрые крышечки» </a>– эколого-благотворительный волонтерский проект, имеющий двойную цель: сделать наш мир чище и помочь детям, которым нужна поддержка.
        </p>
        <p itemprop="description" class="wow animated fadeIn" data-wow-delay="1.0s" style="margin-bottom: 60px; margin-left: 10px; font-size: large;">
          <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Fstories%2Fhighlights%2F17922020546743385%2F" style="font-size: x-large;">Особняк Василия Крестьянинова </a>– проект по восстановлению уникального строения конца XIX - начала XX вв., которое находится во Мстёре, Вязниковском районе Владимирской области.
        </p>
      </div>
    </div>
  </div>
</section>
