<div id="call-widget" class="">
  <button>
    <i class="lni lni-phone"></i>
    <i class="lni lni-close"></i>
  </button>
  <div class="call-sub-menu">
    <a href="tel:+79014080188" title="Позвонить">
      <i class="lni lni-phone"></i>
    </a>
    <a
      href="https://wa.me/79014080188"
      target="_blank"
      rel="noopener noreferrer"
      title="Whatsapp"
    >
      <i class="lni lni-whatsapp"></i>
    </a>
    <a
      href="https://t.me/atlr_atlr"
      target="_blank"
      rel="noopener noreferrer"
      title="Telegram"
    >
      <i class="lni lni-telegram-original"></i>
    </a>
  </div>
</div>
