<section class="section client section-ptb {% if include.extra_class %}{{include.extra_class}} {% endif %}">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h3 class="font-weight-bold" style="margin-bottom: 60px;">Нам доверяют</h3>
      </div>
    </div>
    <div class="row text-center">
      <div itemprop="customer" class="col col-md-3 col-lg-3 col-12" style="padding-bottom: 20px;">
        <img  itemprop="image" src="{{'/assets/images/zhmayeva/client-1.jpg' | relative_url}}" class="wow animated bounceInLeft" data-wow-delay="1.0s" alt="client"/>
      </div>
      <div itemprop="customer" class="col col-md-3 col-lg-3 col-12" style="padding-bottom: 20px;">
        <img itemprop="image" src="{{'/assets/images/zhmayeva/client2.jpg' | relative_url}}" class="wow animated bounceInLeft" data-wow-delay="0.5s" alt="client"/>
      </div>
      <div itemprop="customer" class="col col-md-3 col-lg-3 col-12" style="padding-bottom: 20px;">
        <img itemprop="image" src="{{'/assets/images/zhmayeva/client-5.png' | relative_url}}" class="wow animated bounceInLeft" data-wow-delay="0.4s" alt="client"/>
      </div>
      <div itemprop="customer" class="col col-md-3 col-lg-3 col-sm-12 col-12" style="padding-bottom: 20px;">
        <img itemprop="image" src="{{'/assets/images/zhmayeva/client-4.jpg' | relative_url}}" class="wow animated bounceInLeft" data-wow-delay="0.3s" alt="client"/>
      </div>
    </div>
  </div>
</section>
