<p itemprop="telephone"><i class="lni lni-phone"></i> +7 901 408 01 88</p>
<p itemprop="email"><i class="lni lni-envelope"></i> info@zhmayeva.com</p>
<p itemprop="address" itemscope itemtype="{{site.url}}{{page.url}}">
  <i class="lni lni-map-marker"></i>
  <span itemprop="addressLocality">Москва</span>,
  <span itemprop="streetAddress"
    >6-й Монетчиковский переулок, дом 8, строение 1, 3-й этаж</span
  >, прямо по коридору <br />
  ст. м. Павелецкая
</p>
<p>
  <i class="lni lni-timer"></i> Ежедневно
  <span itemprop="availabilityStarts">с 10:00</span
  ><span itemprop="availabilityEnds"> до 20:00</span><br />
</p>
<a itemprop="sameAs" href="https://vk.com/zhmayeva"
  ><i
    class="lni lni-vk lni"
    style="margin-top: 30px; margin-bottom: 30px; font-size: xx-large"
  ></i
></a>
<a
  href="https://wa.me/79014080188"
  target="_blank"
  rel="noopener noreferrer"
  title="Whatsapp"
  style="
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: xx-large;
  "
>
  <i class="lni lni-whatsapp"></i>
</a>
<a
  href="https://t.me/atlr_atlr"
  target="_blank"
  rel="noopener noreferrer"
  title="Telegram"
  style="
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    font-size: xx-large;
  "
>
  <i class="lni lni-telegram-original"></i>
</a>
<a
  href="https://www.youtube.com/@zhmayeva"
  target="_blank"
  rel="noopener noreferrer"
  title="YouTube"
  style="
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    font-size: xx-large;
  "
>
<i class="lni lni-youtube"></i>
</a>