<footer class="spotlight-footer bg-semi-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <a itemprop="url" href="{{site.url}}{{site.baseurl}}/"
          ><img
            itemprop="image"
            src="{{'/assets/images/zhmayeva/zhmayeva_atelier_website_top.svg' | relative_url}}"
            style="max-width: 300px; width: 300px"
            alt="logo"
        /></a>
        <p>
          © <span itemprop="datePublished">2024</span>
          <span itemprop="description"
            >Ателье Жмаева – ателье-мастерская<br />в Москве.</span
          >
        </p>
        <p>Информация на сайте не является публичной офертой.</p>
        <button style="background-color: inherit" class="px-3 py-2 border-0 up-button">
          Наверх
        </button>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>
