---
layout: default
---

{% include page_header.html %}
<!--
  Blog Area Start
/ -->
<div class="blog-default section-ptb">
  <div class="container">
    <div class="row">
      <!-- Blogs -->
      <div class="col-lg-8">
        <article itemprop="articleBody" itemscope itemtype="{{site.url}}{{page.url}}">
          {% if page.post_image %}
          <div class="image">
             <img itemprop="image" src="{{page.post_image| relative_url}}" alt="{{page.title}}" class="feature img-fluid"/>
          </div>
          {% endif %}
          <div class="content">
            <div class="row custom-mb-4">
              {% if page.date %}
              <div class="col">
                <span class="date"><i class="lni lni-calendar"></i> <span itemprop="datePosted"></span>{{page.date | date_to_long_string}}</span></span>
              </div>
              {% endif %}
            </div>
            <span itemprop="text">{{page.content}}</span>
          </div>
        </article>
        <div class="meta row custom-mt-5">
          {% if page.tags.size > 0 %}
          <div class="col">
            <p class="float-left">
              <strong itemprop="potentialAction">Тэги: </strong>
              {{page | tags | capitalize}}
            </p>
          </div>
          {% endif %}
          <div class="col">
            <div class="float-right">
              {% include social_share.html %}
            </div>
          </div>
        </div>
        
      </div>
      <!-- Sidebar -->
      <div class="col-lg-4">
       <div class="sidebar">
         {% include sidebar.html %}
       </div>
      </div>
    </div>
  </div>
</div>
<!--
  Blog Area End
/ -->

